/*
    Styles for the About page

    Featured on https://ubcagroponics.com/about

    Created by Edan Steen
    Last Modified November 15th 2025
*/

/*
 * Colours:
 *  #228B22     green
 *  #A1EEBD     pastel green (plants)
 *  #F6D6D6     pastel red (structure)
 *  #94d7e8     pastel blue (automation)
 *  #F6F7C4     pastel yellow
*/

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../images/team/1.PNG");
    background-position: center;
    background-size: cover;
    background-repeat: none;
    font-family: Comfortaa;
    color: white;
}

.heading > div {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading > div > span {
    font-size: 50pt;
}

/* SECTIONS */
.main > section {
    display: flex;
    width: 100vw;
}

/* GOALS */
.goals {
    flex-direction: column; 
    justify-content: center;  
    align-items: center;
    margin: 5vh 0 8vh 0; 
}

.goals > * {
    text-align: center;
    width: 60%;
}

.header {
 color: #228B22;
}

.desc {
    color: #777;
}

/* SUBTEAMS */
.subteamCards {
    justify-content: center;
    text-align: center;
    color: #333;
    flex-direction: column;
}

.subteamCards > h1 {
    font-size: xx-large;
    color: #228B22;
}

.subteamCards > div {
    width: 100vw;
    height: auto;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.subteamCards > div > div {
    width: 30vh;
    height: 30vh;
    margin: 0 2vw; 
    border-radius: 40px;
    transition: ease-in 0.25s;
    background-color: #EEE;
    border: 1px solid #CCC;
}

.subteamCards>div>div:hover {
    cursor: pointer;
    transform: scale(1.05);
    border: 2px solid #228B22;
    color: #228B22;
}

.subteamCards > div > div > svg {
    height: 60%;
    width: auto;
}

.subteamCards>div>div:hover>svg {
    fill: #228B22;
}

.subteamCards > div > div > p {
    color: #333;
}

.subteams {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subteams > div {
    width: 100vw;
    height: 80vh;
    margin: 5vh 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.subteams > div > div {
    width: 40%;
    height: fit-content;
    justify-content: center;  
}

.automation>div>h1, .structure>div>h1 {
    color: #228B22;
}

.plants {
    background-color: #228B22;
    color: white;
}

.subteams > div > img {
    height: 100%;
    width: 50%;
    object-position: 50%;
    right: 0px;
}


/* JOIN THE TEAM */
.interested {
    justify-content: center;
    text-align: center;
    margin: 10vh 0;
    font-family: Raleway;
}

.interested > div {
    height: 30vh;
}

.interested>p{
    color: #228B22;
    margin: 40px 0;
}

.cat:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {

    .info{
        width: 80%;
    }
    .desc{
        font-size: medium;
        width: 100%;
    }

    .subteamCards>div {
        height: 30vh;
    }

    .subteamCards>div>div {
        width: 25vw;
        height: 30vw;
        border-radius: 20px;
    }

    .subteamCards>div>div>h2 {
        font-size: medium;
    }
    
    .subteams>div{
        flex-direction: column;
        font-size: small;
        height: auto;
        width: 100%;
    }
    .subteams>div>div{
        width: 80%;
    }
    .subteams>div>div>h1{
        text-align: center;
    }

    .subteams>div>img{
        width: 100%;
        height: 40vh;
    }

    .plants>div>h1{
        color: whitesmoke;
    }
    
    .interested > a > button{
        width: 40%;
    }
}