.closed, .blockmobile {
    background-size: auto;
    width: 100vw;
    height:100vh;
    color: #228B22;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: center;
    text-decoration: solid;
    font-size: x-large;
}

.blockmobile {
    display: none;
    position: fixed;
    z-index: 1;
}

.closed>div, .blockmobile>div {
    display: flex;
    gap: 8vh;
    flex-direction: column;
}
  
.closed>div>button, .blockmobile>div>button {
    color: #228B22;
    border: none;
    background: none;
    cursor: pointer;
    font-size: medium;
}
  
.closed>div>button:hover, .blockmobile>div>button:hover {
    color: #333333;
}

/* DOG PAGE STYLING!!! */
.dog {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.dog > h1 {
    
}

.dog > img {
    height: 80vh;
    width: fit-content;
}

.dog > button {
    margin: 10px auto;
    width: 20vw;
    height: 10vh;
}

.dog > button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .dog {
        height: fit-content;
    }
    
    .dog > button {
        width: 60%;
        height: 10vh;
        margin: 5vh auto;
    }

    .blockmobile {
      display: flex;
    }
}