/*
    Global styles applied to each page of the website

    Created by Edan Steen
    Last Modified November 15th 2025
*/

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
@font-face {
  font-family: Comfortaa;
  src: url(../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}  

html,
body {
  width: 100vw;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: whitesmoke;
  font-family: 'Raleway';
}

body, main {
  width: 100vw;
  position: relative;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: large;
}

img {
  object-fit: cover;
}

@media only screen and (max-width: 600px) {

}