/*
    Styles for the Sponsor page

    Featured on https://ubcagroponics.com/sponsor

    Created by Edan Steen
    Last Modified November 15th 2025
*/

.heading {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../images/team/1.PNG");
    background-position: center;
    background-size: cover;
    background-repeat: none;
    font-family: Comfortaa;
    color: white;
}

.heading > div {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading > div > span {
    font-size: 50pt;
}

/* CURRENTLY DISABLED AS WE HAVE NO SPONSORS*/

.sponsors {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 7vw;
    padding: 10vh;
    justify-content: center;

    /* Change once we have sponsors */
    display: none;
}

.sponsors > a > div {
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 20px;
    transition: ease-in 0.2s;
}

.sponsors>a>div:hover {
    transform: scale(1.2);
}

.sponsors>a>div>img {
    width: 100%;
    height: 100%;

}

.sponsor { 
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-top: 10vh;
    margin: 0 auto;
}

.sponsor > p {
    width: 50%;
    white-space: initial;
    margin: 2vh auto;

}
.sponsor > div {
    width: 80%;
    display: flex;
    align-items: center;
    text-align: center;
}

.sponsorButton {
    text-decoration: none;
    color: white;
    height: 10vh;
    width: 10vw;
    font-size: larger;
    background-color: #228B22;
    border: 2px solid #228B22;
    border-radius: 10px;
    transition: 0.2s ease-in;
}

.sponsorButton:hover {
    background-color: rgb(0, 0, 0, 0);
    color: #228B22;
}

/* EMAIL LINK*/
.sponsor > a {
    color: #228B22;
    text-decoration: underline;
    margin: 0 auto;
    font-size: larger;
}

.sponsor > a :hover {
    opacity: 0.6;
    cursor: pointer;
}


/* SPONSOR CARDS */
.currentSponsors {
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: center;
    margin: 10vh auto;
    justify-content: center;
}

.currentSponsors > h1 {
    color: #228B22;
    font-size: xx-large;
}

.sponsorCardContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5vw;
}

.sponsorCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    text-align: center;
    transition: 0.2s ease-in;
}

.sponsorCard:hover {
    transform: scale(1.05);
}

.sponsorCard > img {
    object-fit: scale-down;
    height: 100px;
    width: 100px;
}

.sponsorCard > span {
    
}


@media only screen and (max-width: 600px) {
    .sponsor > p {
        width: 90%;
    }
    
    .currentSponsors > h1 {
        text-align: center;
    }

    .sponsorCardContainer {
        display: grid;
        grid-template-columns: auto auto;
        width: 90%;
        align-items: center;   
    }
    
    .sponsorCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30vw;
        text-align: center;
    }
}