/*
    Styles for the TitleCard Component

    Used in @/components/TitleCard.js

    Created by Edan Steen
    Last Modified November 15th 2025
*/

.titleCard {
    background: linear-gradient(
      rgba(0,0,0,0.7),
      rgba(0,0,0,0.7)
    ), url('../images/trailer_behind.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #DADADD;
  }
  
  .titleCard > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    align-items:center;
    justify-content: center;
    vertical-align: center;
    font-size: larger;
    color: white;
  }

  .titleCard>div>h1{
    font-family: Raleway;
  }