/*
 * Colours:
 *  #228B22 green
 * 
*/

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* LANDING SECTION */
.landing {
  background-image: url("../images/temp.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: none;
  height: 80vh;
  width: 100%;
  padding-top: 99px;
  display: flex;
  flex-direction: column;
}

.landing > div {
  background-color: rgb(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction:column;
  flex-wrap: nowrap;
  align-items:center;
  justify-content: center;
  vertical-align: center;
}

.landing > div > img {
  width: 15vw;
  height: fit-content;
  align-items: center;
  justify-content: center;
  vertical-align: center;
}

.landing > div > div {
  display: grid;
  grid-column: 1;
  grid-gap: 5vh;
  width: 50vw;
  height: fit-content;
  justify-content: center;
  color: #228B22;
}


/* ABOUT SECTION */

.homepageIMG, .sponsorUs > img {
  width: 500px;
  height: 500px;
}

.main > div {
  width: 100%;
}
.sectionTitle {
  color: #228B22;
  font-size: 1.5rem;
  font-weight: bold;
}

/* buttons in sectons */
.sectionButton {
  padding: 12px 24px;
  cursor: pointer;
  color: white;
  font-size: 1.1rem;
  background-color: #228B22;
  border-color: transparent;
  border-radius: 10px;
  transition: ease-in 0.25s;
  text-align: center;
}

.sectionButton:hover {
  color: #228B22;
  background-color: white;
  border-color: #228B22;
}

/***** Landing Section *****/
.landing {
  background-color: #DADADD;
}

.landinglogo {
  background-image: url(../images/logo.png);
  width: 50%; 
  height: 100%;
}

/**** About Section *****/
.about {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  padding: 5vh;
  height: 50vh;
  margin-bottom: 15vh;
}

.about > h1 {
  
}

.about > div {
  display: flex;
  flex-direction: row;
}

.about > div > img {
  width: 40vw;
  height: 50vh;
  object-fit: cover;
  vertical-align: center;
  justify-content: center;
}

.about > div > div {
  display: flex;
  flex-direction: column;
  width: 35vw;
  justify-content: center;
}

.about>div>h2 {
  color: #228B22;
  font-size: 36px;
  margin-bottom: 10px;
  text-align: center;
}

.about>div>p {
  line-height: 1.75;
}
.about>div>div {
  margin-top: 5vh;
  width: 35vw;
  align-items: center;
  text-align: center;
}

/* Sponsor Section*/
.sponsorUs {
  text-align: center;
  justify-content: center;
  padding: 5vh;
}

.sponsors{
  display: flex;
  align-items: center;
  gap: 2vw;
  justify-content: center;
  margin: 5vh 0;
}

.sponsorCard {
  display: grid;
  grid-column: 1;
  align-items: center;
}
.sponsorCard > img {
  width: 10vw;
  height: auto;
}
.sponsorCard > span {
  text-align: center;
  color: #228B22;
}

/* JOIN PAGE */
.closed {
  background-size: auto;
  width: 100vw;
  height: 100vh;
  color: #228B22;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: center;
  text-decoration: solid;
  font-size: x-large;
}
.closed > div {
  display: flex;
  gap: 8vh;
  flex-direction: column;
}

.closed > div > button {
  color: #228B22;
  border: none;
  background: none;
  cursor: pointer;
  font-size: medium;
}

.closed > div > button:hover {
  color: #333333;
}
