.projectLanding {
    height: 90vh;
    width: 100%;
    background-image: url("../images/trailer_behind.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    color: #228B22;
}

.projectLanding>div {
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.projectLanding>div>h1 {
    font-size: 50pt;
    font-weight: normal;
}

.projectLanding>div>h2 {
    font-weight: 600;
}

.blurb {
    text-align: center;
    font: 2rem;
    color: #444;
    margin: 5% 0;
    width: 100vw;
}
.blurb>p {
    width: 40%;
    margin: auto;
}

.subteams {
    width: 100%;
    margin-bottom: 100px;
    background-color: whitesmoke;
}

.subteams > div {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 80%;
    margin: 2% auto;
}
.subteams>div>div{
    display: flex;
    flex-direction: row;
    gap: 5% ;
    text-align: center;
    
}
.subteams>div>h2{
    color: #228B22;
}

.projectCard {
    width: 20%;
    height: 100%;
    border-radius: 10px;
    transition: 0.2s ease-in;
    padding: 5px;
}

.projectCard:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.projectCard>h3 {
    color: #333;
}
.projectCard>img {
    width: 100%;
    height: 20vh;
    border-radius: 10px;
}

/*
.automation>div>div:hover{background-color: #94d7e8;}
.plants>div>div:hover{background-color: #A1EEBD;}
.structure>div>div:hover{background-color: #F6D6D6;}

/* POP-UP WINDOW */

.hide {
    display: none;
}

.blockBackground {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0,0.7);
    width: 100vw;
    height: 100vh;
    z-index: 3;
    transition: 0.3s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoWindow {
    position: fixed;
    top: 20px;
    left: 10%;
    overflow-y: visible; 
    width: 80vw;
    height: min-content;
    z-index: 4;
    background-color:whitesmoke;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.infoWindow>div{
    position: sticky;
    overflow-y: visible;
    height: min-content;
}

.infoWindow>button {
    height: 50px;
    width: 50px;
    color: #228B22;
    background-color: whitesmoke;
    text-decoration: none;
    border: none;
    margin: 5px;
    transition: 0.2s ease-in;
}

.infoWindow>button:hover{
    transform: scale(1.2);
}

.information {
    width: 80%;
    margin: 0 auto;
}

.information>h3{
    color: #228B22;
    font-size: 20pt;
}

.information>img{
    width: 80%;
    height: 50vh;
}

.information>p{
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .blurb {
        width: 90%;
        margin: 20vh auto;
    }
    .blurb>p{
        width: 100%;
    }

    .subteams>div {
        height: 50vh;
    }

    .subteams>div>h2{
        text-align: center;
    }

    .subteams>div>div {justify-content: center;}
    
    .projectCard {
        width: 30%;
    }

    .information>img{
        width: 90%;
        height: 40vh;
    }
}