.projectLanding {
    height: 90vh;
    width: 100%;
    background-image: url("../images/trailer_behind.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    color: #228B22;
}

.projectLanding>div {
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.projectLanding>div>h1 {
    font-size: 50pt;
    font-weight: normal;
}

.projectLanding>div>h2 {
    font-weight: 600;
}

.blurb {
    text-align: center;
    font: 2rem;
    color: #444;
    margin: 5% 0;
    width: 100vw;
}
.blurb>p {
    width: 40%;
    margin: auto;
}

.subteams {
    width: 100%;
    background-color: whitesmoke;
}

.subteams > div {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 80%;
    margin: 2% auto;
}
.subteams>div>div{
    display: flex;
    flex-direction: row;
    gap: 5% ;
    text-align: center;
}
.subteams>div>h2{
    color: #228B22;
}

.projectCard {
    width: 20%;
    height: 100%;
    border: 1px solid #aaa;
    border-radius: 20px;
    background-color: #DDD;
    transition: 0.2s ease-in;
    padding: 5px;
}

.projectCard:hover {
    transform: scale(1.05);
    opacity: 0.7;
    cursor: pointer;
}

.projectCard>h3 {
    color: #333;
}
.projectCard>img {
    width: 100%;
    height: 20vh;
}

/* POP-UP WINDOW */

.blockBackground {
    position: fixed;
    background-color: rgb(0,0,0,0.7);
    width: 100vw;
    height: 100vh;
}

.infoWindow {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0,0.7);
}
